<div class="videos">
    <div>
        <h1 class="title has-text-centered">Speaker View</h1>
        <div id="local-stream" class="stream">
        </div>
    </div>
    <div>
        <h1 class="title has-text-centered">Audience View</h1>
        <div id="remote-stream" class="stream">
        </div>
    </div>

</div>
<div class="container has-text-centered">
    <div>
        <button (click) = "onStartCallHandler($event)"
                class="button is-success">Start Call
        </button>
        <button (click) = "onLeaveCallHandler($event)" class="button is-danger">Leave Call</button>
        <button (click) = "onJoinCallHandler($event)" class="button is-dark">Join Call</button>
    </div>
</div>
